.output {
    padding: 10px;
    font-size: 13px;
    font-family: Monaco, consolas;
    white-space: pre-wrap;
    word-break: break-all;
    text-align: left;
    margin: 0;
}

.error {
    color: #d0021b;
}

body {
    overflow: hidden;
    margin: 0px;
}

#options {
    color: #595959;
    padding-bottom: 30px;
    user-select: none;
}

#options * {
    font-size: 15px;
    font-family: consolas, monaco, "微软雅黑";
    box-sizing: border-box;
}

#options .switch-btn {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 65px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
    zoom: 0.7;
}

#options .switch-btn:hover {
    filter: drop-shadow(0 0 5px black);
    transition: 0.2s;
}

#options .checked-switch {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

#options .text-switch {
    background-color: #cccccc;
    border: 1px solid #dddddd;
    border-radius: inherit;
    color: #fff;
    display: block;
    font-size: 15px;
    width: 60px;
    height: inherit;
    position: relative;
    text-transform: uppercase;
}

#options .text-switch:before,
#options .text-switch:after {
    position: absolute;
    top: 50%;
    margin-top: -.5em;
    line-height: 1;
    -webkit-transition: inherit;
    -moz-transition: inherit;
    -o-transition: inherit;
    transition: inherit;
}

#options .text-switch:before {
    content: 'OF';
    right: 6px;
}

#options .text-switch:after {
    content: 'ON';
    left: 6px;
    color: #FFFFFF;
    opacity: 0;
}

#options .checked-switch:checked~.text-switch {
    background-color: #00af2c;
    border: 1px solid #068506;
}

#options .checked-switch:disabled~.text-switch {
    cursor: no-drop;
}

#options .checked-switch:disabled~.text-switch~.toggle-btn {
    cursor: no-drop;
}

#options .checked-switch:disabled~.text-switch:before {
    content: '▬';
    right: 11px;
}

#options .checked-switch:checked~.text-switch:before {
    opacity: 0;
}

#options .checked-switch:checked~.text-switch:after {
    opacity: 1;
}

#options .toggle-btn {
    background: linear-gradient(#eee, #fafafa);
    border-radius: 5px;
    height: 28px;
    left: 1px;
    position: absolute;
    top: 1px;
    width: 28px;
}

#options .checked-switch:checked~.toggle-btn {
    left: 30px;
}

#options .text-switch,
#options .toggle-btn {
    transition: All 0.3s ease;
    -webkit-transition: All 0.3s ease;
    -moz-transition: All 0.3s ease;
    -o-transition: All 0.3s ease;
}

#options .no-radius,
#options .no-radius .toggle-btn {
    border-radius: 0;
}

#options .circle-style .toggle-btn::before {
    background: linear-gradient(#dedede, #cacaca);
    border-radius: 50%;
    content: "";
    height: 14px;
    margin-top: 6px;
    padding: 0;
    width: 14px;
}

#options table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}

#options table td {
    border-collapse: collapse;
    padding: 3px;
    margin-right: 15px;
}

#options table td:first-child {
    width: 7%;
}

#options table td:first-child+td {
    width: 40%;
}

#options table td:first-child+td+td {
    width: 28%;
}

#options table td:first-child+td+td+td {
    width: 10%;
}

#options table td .topchild {
    margin: 0 0 5px 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 95%;
}

#options table tr {
    height: 70px;
}

#options table tr:nth-child(odd) {
    background: #fff;
    filter: contrast(0.96);
}

#options .keyword {
    display: inline-block;
    font-size: 14px;
    color: rgb(12, 67, 131);
    border: 1px solid #eee;
    border-radius: 12px;
    height: 24px;
    line-height: 22px;
    padding: 0 10px;
    background-color: #f3f3f3;
    margin-right: 5px;
}

#options .keyword.re {
    color: rgb(105, 40, 97);
}

#options .keyword.win {
    color: rgb(48, 21, 122);
}

#options .keyword.fil {
    color: rgb(12, 95, 9);
}

#options .logo {
    max-width: 40px;
    max-height: 40px;
}

#options .info {
    padding: 0 5px;
    font-size: 10px;
}

#options .info img {
    max-width: 13px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 1px;
}

#options #customize .keys {
    width: 16%;
}

#options #customize .robot {
    background: #3085d6;
    padding: 0 10px;
    height: 28px;
    line-height: 28px;
}

#options #customize #charset.robot {
    display: none;
}

#options #customize .robot:hover {
    background: #55aafa;
}

#options #customize .record {
    background: #ff3b4e;
    transition: 0.5s;
}

#options #customize .record:hover {
    background: #ff3b4e;
}

#options #customize .bottom,
#out .bottom {
    position: absolute;
    bottom: 0;
    left: 30px;
    right: 30px;
}

#out .bottom {
    white-space: normal;
}

#options .footBtn {
    float: right;
    background: #00af2c;
    border-radius: 4px;
    color: white;
    padding: 2px 5px;
    margin: 0px 5px;
    cursor: pointer;
}

#options .footBtn.danger {
    float: left;
    background: #df3f54;
}

#options .footBtn:hover {
    background: #068506;
    transition: 0.5s;
}

#options .footBtn.danger:hover {
    background: #b32033;
    transition: 0.5s;
}

#options .foot {
    position: absolute;
    height: 30px;
    right: 0px;
    bottom: 0px;
    left: 80px;
    background: #f3f3f3;
    box-shadow: 0px 0px 9px 0px #00000030;
    padding: 3px;
}

#options .sidebar {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 80px;
    background: #f3f3f3;
    box-shadow: 0px 0px 9px 0px #00000030;
    overflow-y: auto;
}

#options .sidebar li {
    padding: 10px;
    list-style-type: none;
    cursor: pointer;
    text-overflow: ellipsis;
    overflow-x: hidden;
    white-space: nowrap;
}

#options .sidebar .currentTag {
    background-color: #c7c5c5;
}

/* #options td span {
    margin-right: 10px;
} */

#options span.Btn {
    font-size: 16px;
    cursor: pointer;
}

#options span.Btn img {
    height: 20px;
}

#options span.Btn img:hover {
    filter: drop-shadow(0 0 5px black);
    transition: 0.2s;
}

#options span.editBtn {
    color: #00af2c;
}

#options span.exportBtn {
    color: #407abf;
}

#options span.delBtn {
    color: #ed5b49
}

#options span.editBtn:hover {
    color: #057205;
}

#options span.exportBtn:hover {
    color: #2d5586;
}

#options span.delBtn:hover {
    color: #bd3523;
}

#options #customize span.customscript {
    display: none;
}

#options #customize span.customscript>input {
    margin-left: 5px;
    width: 12%;
}

#options #featureList {
    position: absolute;
    left: 80px;
    right: 0;
    top: 0;
    bottom: 30px;
    padding-left: 5px;
    overflow-y: auto;
}

#options #customize {
    position: absolute;
    z-index: 9;
    height: 100%;
    top: 100%;
    left: 0;
    right: 0;
    padding: 0px 30px;
    box-shadow: 0px 0px 9px 0px #00000030;
    color: black;
    background: white;
}

#options #customize p {
    line-height: 1.25rem;
    margin: 13px 0;
    height: 28px;
}

#options #customize .word {
    color: #2196F3;
    display: inline-block;
    font-size: 14px;
    border: 1px solid #1E88E5;
    height: 28px;
    line-height: 28px;
    padding: 0 5px;
    background-color: #E3F2FD;
}

#options #customize input.customize,
#options #customize .customscript input {
    width: 84%;
    height: 28px;
    border-bottom: 1px solid #dbdbdb;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    font-size: 15px;
    margin-left: 10px;
    padding-left: 8px;
    outline: none;
}

#options #customize input#rule {
    width: 38%;
}

#options #customize img#expandBtn {
    max-width: 15px;
    cursor: pointer;
}

#options #customize img#expandBtn:hover {
    filter: drop-shadow(0 0 5px black);
    transition: 0.2s;
}

#scriptCode, #outputCode {
    width: 75%;
    margin: 0.5em 0
}

#options #customize input#scptarg {
    width: 150px;
    float: right;
    background: white;
    outline: none;
    border: 2px solid #3085d6;
    height: 28px;
    border-radius: 4px;
    padding: 2px 5px;
    margin: 0px 5px;
    text-align: center;
    display: none
}

#options #customize input#scptarg:hover {
    border: 2px solid #55aafa;
    transition: 0.2s;
}

#options #customize input.customize:hover {
    border-bottom-color: #9e9e9ec7;
    transition: 0.25s;
}

#options #customize input.customize:focus {
    outline: none;
    border-bottom-color: #0277BD;
    transition: 0.5s;
}

input::-webkit-input-placeholder {
    color: #999;
    font-size: 15px
}

#options #customize .CodeMirror {
    font-size: 14px;
    font-family: "Monaco", "consolas";
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    position: absolute;
    top: 216px;
    bottom: 54px;
    left: 30px;
    right: 30px;
    width: auto;
    height: auto;
}

#options #customize .CodeMirror-coderunner {
    top: 33px;
    bottom: 0;
    left: 0;
    right: 0;
}

#options #customize .CodeMirror-fullscreen {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
}

#options #customize .CodeMirror-hscrollbar,
#options #customize .CodeMirror-vscrollbar {
    outline: none;
}

#options #customize .CodeMirror * {
    box-sizing: initial;
}

#options #customize .CodeMirror:hover {
    border: 1px solid #9e9e9ec7;
    transition: 0.25s;
}

#options #customize .CodeMirror-focused {
    border: 1px solid #0277BD !important;
    box-shadow: 0px 0px 2px 0px #0277BD;
    transition: 0.25s;
}

#options #customize .CodeMirror-placeholder {
    color: #999;
    font-size: 15px
}

#options #customize input#iconame {
    width: 35%;
    cursor: pointer;
    display: none;
}

#options #customize #icon {
    float: right;
    max-width: 40px;
    max-height: 40px;
    cursor: pointer;
}

#options #customize #icon:hover {
    transform: rotate(360deg);
    transition: 0.3s;
}

#options #customize .selectBtn {
    padding: 4px 10px;
    font-size: 11px;
    color: #1E88C7;
    background: #D0EEFF;
    border: 1px solid #99D3F5;
    border-radius: 4px;
    cursor: pointer;
}

#options #customize .selectBtn:hover {
    background: #AADFFD;
    border-color: #78C3F3;
    color: #004974;
    transition: 0.5s;
}

#options #customize .platform {
    max-width: 26px;
    cursor: pointer;
}

#options #customize .platform:hover {
    box-shadow: 0px 1px 1px 0px #3085d6;
    transition: 0.1s;
}

#options #customize .disabled {
    filter: grayscale();
}

#options #customize .button {
    width: 150px;
    height: 30px;
    border-width: 0px;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    color: white;
    width: 60px;
}

#options #customize .button.cmdBtn {
    float: right;
    margin: 0px 10px;
}

#options #customize .button.cancel {
    background: #808080c9;
}

#options #customize .button.cancel:hover {
    background: #a5a2a2c9;
    transition: 0.5s;
}

#options #customize .button.save {
    background: #1E90FF;
}

#options #customize .button.save:hover {
    background: #5599FF;
    transition: 0.5s;
}

#options #customize .button.run {
    background: #15a86bc9;
}

#options #customize .button.run:hover {
    background: #27c583c9;
    transition: 0.5s;
}

/* ::-webkit-scrollbar {
    height: 0;
} */

li.CodeMirror-hint {
    min-width: 200px;
    font-size: 13px;
    padding: 3px 4px;
}

/*animate.css*/
@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translate3d(0, -100%, 0)
    }

    to {
        opacity: 1;
        transform: translateZ(0)
    }
}

.fadeInDownWindow {
    animation: fadeInDown 0.3s
}

@keyframes fadeOutUp {
    0% {
        opacity: 1
    }

    to {
        opacity: 0;
        transform: translate3d(0, -100%, 0)
    }
}

.fadeOutUpWindow {
    animation: fadeOutUp 0.3s
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.fadeInUpWindow {
    animation: fadeInUp 0.3s
}

@keyframes fadeOutDown {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
}

.fadeOutDownWindow {
    animation: fadeOutDown 0.3s;
}

/*animate.css*/

/*select2*/
#options #customize .select2-selection--single,
#options #customize .select2-selection--multiple {
    border-bottom: 1px solid #dbdbdb;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-radius: 0px;
    min-height: 28px;
    padding-bottom: 3px;
    outline: none;
}

#options #customize .select2-results__option img {
    max-width: 25px;
    max-height: 25px;
    vertical-align: middle;
}

#options #customize .select2-results__option span {
    vertical-align: middle;
    margin-left: 5px;
}

#options #customize .select2-results__option div {
    color: #9e9e9e;
    font-size: small;
}

#options #customize .select2-results__option.select2-results__option--highlighted div {
    color: #f1f1f1
}

#options #customize .select2-results>.select2-results__options {
    max-height: 360px;
}

#options #customize .select2-selection--single:hover,
#options #customize .select2-selection--multiple:hover {
    border-bottom-color: #9e9e9ec7;
    transition: 0.5s;
}

#select2-tags-results .select2-results__option--selected {
    display: none;
}

#options #customize .select2-selection__choice {
    background-color: #3085d6;
    border: 1px solid #f1f1f1;
    color: white;
    margin-top: 0;
    text-shadow: 0 1px 0 rgba(0, 51, 83, 0.3);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), inset 0 1px rgba(255, 255, 255, 0.03);
}

#options #customize .select2-selection__choice__remove {
    color: white;
}

#options #customize .select2-selection__choice__remove:hover,
#options #customize .select2-selection__choice__remove:focus {
    background-color: #5da6eb;
}

#quickselect .select2-dropdown {
    position: fixed;
    font-size: 14px;
    top: -58px;
    border: none;
}

#quickselect .select2-results__options {
    max-height: 550px
}

#quickselect .select2-results__option {
    padding: 5px 10px;
    height: 40px;
    /* line-height: 50px; */
    white-space: pre;
    text-overflow: ellipsis;
    overflow: hidden;
}

#quickselect .select2-results__option .title {
    font-size: 14px;
    line-height: 20px;
}

#quickselect .select2-results__option .description {
    color: rgba(0, 0, 0, 0.5);
    line-height: 20px;
    font-size: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#quickselect .select2-results__option .icon {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    float: left;
    margin-right: 10px;
}

#quickselect .select2-results__option .icon>img {
    max-width: 35px;
}

#quickselect .select2-results__option--highlighted {
    background-color: #ebebeb;
    color: unset;
}

#quickselect .select2-search__field {
    height: 40px;
    margin: 5px 0px;
    outline: none
}

.swal2-shown .select2-dropdown {
    z-index: 1070;
}

.swal2-content .select2-container .select2-selection--single,
.swal2-content .select2-container .select2-selection--single .select2-selection__arrow {
    height: 3rem;
}


.swal2-content .select2-container .select2-selection--single .select2-selection__rendered {
    line-height: 3rem;
}

.swal2-shown img.networkImg {
    vertical-align: middle;
    max-width: 35px;
}

/*select2*/

/*quicktextarea*/

#quicktextarea {
    z-index: 10;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

#quicktextarea>* {
    font-size: 16px;
    outline: none;
    padding: 10px;
}

#quicktextarea textarea {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    border: 2px solid #2196F3;
    border-radius: 6px;
}

.circleButton {
    position: absolute;
    border: 0;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    outline: none;
}

#quicktextarea .circleButton {
    right: 20px;
    bottom: 20px;
    height: 40px;
    width: 40px;
    background: #2196F3;
}

#quickselect .circleButton {
    right: 10px;
    bottom: 10px;
    height: 25px;
    width: 25px;
    background: #db4d14;
    z-index: 1060;
}

.circleButton:hover {
    filter: brightness(1.2);
}

/*quicktextarea*/

/*搜索框*/
#out>#outputSearch {
    position: fixed;
    opacity: 0;
    top: -30px;
    right: 10px;
    padding: 5px 10px 5px 10px;
    background: #ffffff;
    box-shadow: 2px 1px 3px 0px black;
}

#out>#outputSearch input {
    height: 20px;
    width: 220px;
    margin-right: 5px;
    border: 1px solid #e4e3e3;
    background: #f5f5f5;
    outline: none;
}

#out>#outputSearch input:focus {
    border: 1px solid #03A9F4;
}

#out>#outputSearch>kbd {
    cursor: pointer;
    margin: 5px;
    user-select: none;
}

.swal2-input {
    text-align: center;
}

.circle {
    position: absolute;
    background: red;
    border-radius: 50%;
    padding: 1px;
    top: -8px;
    right: 160px;
    display: none;
}
