/* app global css */
@font-face {
  font-family: "iconfont";
  src: url("../fonts/iconfont.woff2?t=1649900426635") format("woff2"),
    url("../fonts/iconfont.woff?t=1649900426635") format("woff"),
    url("../fonts/iconfont.ttf?t=1649900426635") format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-linux:before {
  content: "\e6c1";
}

.icon-macos1:before {
  content: "\e6b2";
}

.icon-windows1:before {
  content: "\e6bb";
}
