/* 操作卡片样式 */
.command-composer .operation-cards {
  display: flex;
  align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  padding: 1px;
  gap: 8px;
  border-radius: 8px;
}

.command-composer .operation-cards::-webkit-scrollbar {
  display: none;
}

.command-composer .operation-card {
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid transparent;
  border-radius: 6px;
  min-width: 72px;
  max-height: 36px;
  background: rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.command-composer .operation-card:hover {
  background: var(--q-primary-opacity-5);
  transform: translateY(-1px);
  border: 1px solid var(--q-primary-opacity-10);
}

.command-composer .operation-card.active {
  border-color: var(--q-primary);
  background: var(--q-primary-opacity-5);
}

/* 暗色模式适配 */
.body--dark .command-composer .operation-card {
  background: rgba(255, 255, 255, 0.03);
}

.body--dark .command-composer .operation-card.active {
  border-color: var(--q-primary-opacity-50);
}

/* 滚动美化 */
.command-composer .q-scrollarea__thumb {
  width: 2px;
  opacity: 0.4;
  transition: opacity 0.3s ease;
}

.command-composer .q-scrollarea__thumb:hover {
  opacity: 0.8;
}

/* 布局更加紧凑 */
/* 输入框高度及字体 */
.command-composer .q-field--filled:not(.q-textarea) .q-field__control,
.command-composer .q-field--filled:not(.q-textarea) .q-field__control>*,
.command-composer .q-field--filled:not(.q-field--labeled):not(.q-textarea) .q-field__native {
  max-height: 36px !important;
  min-height: 36px !important;
}

.command-composer .q-field--filled .q-field__control,
.command-composer .q-field--filled .q-field__control>*,
.command-composer .q-field--filled .q-field__native {
  border-radius: 5px;
  font-size: 12px;
}

/* 输入框图标大小 */
.command-composer .q-field--filled .q-field__control .q-icon {
  font-size: 18px;
}

/* 输入框标签字体大小，占位时的位置 */
.command-composer .q-field--filled .q-field__label {
  font-size: 11px;
  top: 11px;
}

/* 输入框标签悬浮的位置 */
.command-composer .q-field--filled .q-field--float .q_field__label {
  transform: translateY(-35%) scale(0.7);
}

/* 去除filled输入框边框 */
.command-composer .q-field--filled .q-field__control:before {
  border: none;
}

/* 去除filled输入框下划线 */
.command-composer .q-field--filled .q-field__control:after {
  height: 0;
  border-bottom: none;
}

/* 输入框背景颜色及内边距 */
.command-composer .q-field--filled .q-field__control {
  background: rgba(0, 0, 0, 0.03);
  padding: 0 8px;
}

/* 输入框聚焦时的背景颜色 */
.command-composer .q-field--filled.q-field--highlighted .q-field__control {
  background: rgba(0, 0, 0, 0.03);
}

/* 暗黑模式下的输入框背景颜色 */
.body--dark .command-composer .q-field--filled .q-field__control {
  background: rgba(255, 255, 255, 0.04);
}

/* 暗黑模式下输入框聚焦时的背景颜色 */
.body--dark .command-composer .q-field--filled.q-field--highlighted .q-field__control {
  background: rgba(255, 255, 255, 0.08);
}

/* checkbox/toggle大小及字体 */
.command-composer .q-checkbox__label,
.command-composer .q-toggle__label {
  font-size: 12px;
}

.command-composer .q-checkbox__inner,
.command-composer .q-toggle__inner {
  font-size: 28px;
  margin: 4px 0px;
}

/* 暗黑模式下的标签栏背景颜色 */
.body--dark .command-composer .q-tab,
.body--dark .command-composer .q-tab-panel {
  background-color: #303133;
}

.body--dark .command-composer .q-tab--inactive {
  opacity: 2;
}
