/* 滚动美化 */
.command-composer .q-scrollarea__thumb {
  width: 2px;
  opacity: 0.4;
  transition: opacity 0.3s ease;
}

.command-composer .q-scrollarea__thumb:hover {
  opacity: 0.8;
}

/* 布局更加紧凑 */
/* 输入框高度及字体 */
.command-composer .q-field--filled:not(.q-textarea) .q-field__control,
.command-composer .q-field--filled:not(.q-textarea) .q-field__control>*,
.command-composer .q-field--filled:not(.q-field--labeled):not(.q-textarea) .q-field__native {
  max-height: 36px !important;
  min-height: 36px !important;
}

.command-composer .q-field--filled .q-field__control,
.command-composer .q-field--filled .q-field__control>*,
.command-composer .q-field--filled .q-field__native {
  border-radius: 5px;
  font-size: 12px;
}

.command-composer .q-field--filled.q-select--with-chips .q-field__control .q-chip {
  margin: 0 4px;
}

/* 输入框图标大小 */
.command-composer .q-field--filled .q-field__control .q-icon {
  font-size: 18px;
}

/* 输入框标签字体大小，占位时的位置 */
.command-composer .q-field--filled .q-field__label {
  font-size: 11px;
  top: 11px;
}

/* 输入框标签悬浮的位置 */
.command-composer .q-field--filled.q-field--dense.q-field--float .q-field__label {
  transform: translateY(-50%) scale(0.75);
}

/* 去除filled输入框边框 */
.command-composer .q-field--filled .q-field__control:before {
  border: none;
}

/* 去除filled输入框下划线 */
.command-composer .q-field--filled .q-field__control:after {
  height: 0;
  border-bottom: none;
}

/* 输入框背景颜色及内边距 */
.command-composer .q-field--filled .q-field__control {
  background: rgba(0, 0, 0, 0.03);
  padding: 0 8px;
}

/* 输入框聚焦时的背景颜色 */
.command-composer .q-field--filled.q-field--highlighted .q-field__control {
  background: rgba(0, 0, 0, 0.03);
}

/* 暗黑模式下的输入框背景颜色 */
.body--dark .command-composer .q-field--filled .q-field__control {
  background: rgba(255, 255, 255, 0.04);
}

/* 暗黑模式下输入框聚焦时的背景颜色 */
.body--dark .command-composer .q-field--filled.q-field--highlighted .q-field__control {
  background: rgba(255, 255, 255, 0.08);
}

/* checkbox/toggle大小及字体 */
.command-composer .q-checkbox__label,
.command-composer .q-toggle__label {
  font-size: 12px;
}

.command-composer .q-checkbox__inner,
.command-composer .q-toggle__inner {
  font-size: 28px;
  margin: 4px 0px;
}

.body--dark .command-composer .q-tab--inactive {
  opacity: 2;
}
