/* Monaco Editor 调整行号栏样式 */
.monaco-editor .margin {
  width: 40px !important;
}

.monaco-editor .line-numbers {
  text-align: center !important;
  width: 40px !important;
  padding-right: 5px !important;
  left: 0 !important;
}

/* Monaco Editor 当前行高亮样式 */
.monaco-editor .current-line {
  border: none !important;
  background-color: transparent !important;
}

.monaco-editor .line-numbers {
  color: rgba(0, 0, 0, 0.5) !important;
}

.body--dark .monaco-editor .line-numbers {
  color: rgba(255, 255, 255, 0.5) !important;
}

.monaco-editor .current-line~.line-numbers {
  color: var(--q-primary) !important;
}

.monaco-editor .margin-view-overlays .current-line {
  background-color: transparent !important;
}

/* Monaco Editor 滚动条样式 */
.monaco-editor .scrollbar {
  width: 5px !important;
  height: 5px !important;
}

.monaco-editor .scrollbar.vertical .slider {
  width: 5px !important;
  border-radius: 2px !important;
  background: rgba(0, 0, 0, 0.2) !important;
}

.monaco-editor .scrollbar.horizontal .slider {
  height: 5px !important;
  border-radius: 2px !important;
  background: rgba(0, 0, 0, 0.2) !important;
}
